body {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
}

.console {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.screen {
    width:775px;
    height: 480px;
    background-color: #111;
    border: 1px solid #444;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: pre;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.led-panel {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.led-name {
    padding-left: 10px;
    /* line-height: 20px; */
}

.led {
    width: 15px;
    height: 15px;
    background-color: #444;
    border-radius: 5px;
    /* text-align: center; */
    /* line-height: 30px; */
    /* margin-bottom: 10px; */
}

.led.active {
    background-color: #0f0;
}